{
    "comments": false,
    "sourceMaps": "inline",
    "presets": [
        "react",
        [
            "env",
            {
                "targets": {
                    "node": "current"
                }
            }
        ]
    ],
    "plugins": [
        "transform-strict-mode",
        "transform-object-rest-spread",
        "transform-class-properties"
    ]
}
