{
    "comments": false,
    "sourceMaps": "inline",
    "presets": [
        "module:metro-react-native-babel-preset",
        [
            "@babel/preset-env",
            {
                "targets": {
                    "node": "current"
                }
            }
        ]
    ],
    "plugins": [
        "@babel/plugin-transform-strict-mode",
        "@babel/plugin-proposal-object-rest-spread",
        "@babel/plugin-proposal-class-properties"
    ]
}
