{
    "parser": "babel-eslint",
    "plugins": [
        "react",
        "react-native"
    ],
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "arrowFunctions": true,
            "binaryLiterals": true,
            "blockBindings": true,
            "classes": true,
            "defaultParams": true,
            "destructuring": true,
            "forOf": true,
            "generators": true,
            "globalReturn": false,
            "jsx": true,
            "modules": true,
            "objectLiteralComputedProperties": true,
            "objectLiteralDuplicateProperties": false,
            "objectLiteralShorthandMethods": true,
            "objectLiteralShorthandProperties": true,
            "octalLiterals": true,
            "regexYFlag": true,
            "restParams": true,
            "spread": true,
            "superInFunctions": true,
            "templateStrings": true,
            "unicodeCodePointEscapes": true
        },
        "extends": "plugin:react/recommended"
    },
    "settings": {
        "react": {
            "pragma": "React" // Pragma to use, default to "React"
        }
    },
    "env": {
        "browser": true,
        "commonjs": true,
        "es6": true,
        "node": true
    },
    "rules": {
        "react/jsx-uses-react": 1,
        "react/jsx-uses-vars": 1,

        "arrow-body-style": ["error", "as-needed"],
        "arrow-parens": ["error", "always"],
        implicit-arrow-linebreak: ["error", "beside"],

        "comma-dangle": ["error", "never"],

        "no-confusing-arrow": "error",
        "no-cond-assign": ["error", "always"],
        "no-console": 0,
        "no-constant-condition": "error",
        "no-control-regex": "error",
        "no-debugger": "error",
        "no-dupe-args": "error",
        "no-dupe-keys": "error",
        "no-duplicate-case": "error",
        "no-empty": "error",
        "no-empty-character-class": "error",
        "no-ex-assign": "error",
        "no-extra-boolean-cast": "error",
        "no-extra-parens": 0,
        "no-extra-semi": "error",
        "no-func-assign": "error",
        "no-inner-declarations": ["error", "both"],
        "no-invalid-regexp": "error",
        "no-irregular-whitespace": "error",
        "no-negated-in-lhs": "error",
        "no-obj-calls": "error",
        "no-regex-spaces": "error",
        "no-reserved-keys": 0,
        "no-sparse-arrays": "error",
        "no-unreachable": "error",
        "use-isnan": "error",
        "valid-jsdoc": 0,
        "valid-typeof": "error",

        "block-scoped-var": "error",
        "complexity": [0, 11],
        "consistent-return": 0,
        "curly": ["error", "all"],
        "default-case": "error",
        "dot-location": ["error", "property"],
        "dot-notation": ["error", {
            "allowKeywords": true
        }],
        "eqeqeq": "error",
        "guard-for-in": "error",
        "no-alert": "error",
        "no-caller": "error",
        "no-div-regex": "error",
        "no-else-return": "error",
        "no-eq-null": "error",
        "no-eval": "error",
        "no-extend-native": "error",
        "no-extra-bind": "error",
        "no-fallthrough": "error",
        "no-floating-decimal": "error",
        "no-implied-eval": "error",
        "no-iterator": "error",
        "no-labels": "error",
        "no-lone-blocks": "error",
        "no-loop-func": "error",
        "no-multi-spaces": "error",
        "no-multi-str": "error",
        "no-native-reassign": "error",
        "no-new": "error",
        "no-new-func": "error",
        "no-new-wrappers": "error",
        "no-octal": "error",
        "no-octal-escape": "error",
        "no-param-reassign": 0,
        "no-process-env": "error",
        "no-proto": "error",
        "no-prototype-builtins": "error",
        "no-redeclare": "error",
        "no-return-assign": "error",
        "no-script-url": "error",
        "no-self-compare": "error",
        "no-sequences": "error",
        "no-throw-literal": "error",
        "no-unused-expressions": "error",
        "no-void": "error",
        "no-warning-comments": 0,
        "no-with": "error",
        "radix": "error",
        "vars-on-top": "error",
        "wrap-iife": ["error", "inside"],
        "yoda": ["error", "never"],

        "strict": ["error", "global"],

        "generator-star-spacing": ["error", "before"],
        "no-var": "error",
        "object-shorthand": 0,

        "max-depth": [0, 4],
        "max-len": [0, 80, 4],
        "max-params": [0, 3],
        "max-statements": [0, 10],
        "no-bitwise": 0,
        "no-plusplus": 0,
        "no-catch-shadow": "error",
        "no-delete-var": "error",
        "no-label-var": "error",
        "no-shadow": "error",
        "no-shadow-restricted-names": "error",
        "no-undef": "error",
        "no-undef-init": "error",
        "no-undefined": 0,
        "no-unused-vars": ["error", {
            "vars": "all",
            "args": "after-used"
        }],
        "no-use-before-define": "error",

        "handle-callback-err": ["error", "err"],
        "no-mixed-requires": ["error", true],
        "no-new-require": "error",
        "no-path-concat": "error",
        "no-process-exit": "error",
        "no-restricted-modules": 0,
        "no-sync": 0,

        "brace-style": ["error", "1tbs", {
            "allowSingleLine": false
        }],
        "camelcase": "error",
        "comma-spacing": ["error", {
            "before": false,
            "after": true
        }],
        "comma-style": ["error", "last"],
        "consistent-this": 0,
        "eol-last": "error",
        "func-names": 0,
        "func-style": 0,
        "indent": ["error", 4],
        "key-spacing": ["error", {
            "beforeColon": false,
            "afterColon": true
        }],
        "linebreak-style": 0,
        "max-nested-callbacks": [0, 3],
        "new-cap": 0,
        "new-parens": "error",
        "newline-after-var": 0,
        "no-array-constructor": "error",
        "no-continue": 0,
        "no-inline-comments": 0,
        "no-lonely-if": 0,
        "no-mixed-spaces-and-tabs": [2],
        "no-multiple-empty-lines": 0,
        "no-nested-ternary": "error",
        "no-new-object": "error",
        "no-spaced-func": "error",
        "no-ternary": 0,
        "no-trailing-spaces": ["error", {
            "skipBlankLines": false
        }],
        "no-underscore-dangle": 0,
        "no-unneeded-ternary": "error",
        "one-var": 0,
        "operator-assignment": ["error", "always"],
        "operator-linebreak": ["error", "after"],
        "padded-blocks": ["error", "never"],
        "quote-props": ["error", "as-needed"],
        "quotes": ["error", "backtick"],
        "semi": ["error", "always"],
        "semi-spacing": ["error", {
            "before": false,
            "after": true
        }],
        "sort-vars": 0,
        "space-before-blocks": ["error", "always"],
        "space-before-function-paren": ["error", {
            "anonymous": "always",
            "named": "always"
        }],
        "object-curly-spacing": ["error", "always"],
        "array-bracket-spacing": ["error", "always", {
          "objectsInArrays": false,
          "arraysInArrays": false
        }],
        "space-in-parens": ["error", "never"],
        "space-infix-ops": ["error", {
            "int32Hint": false
        }],
        "space-unary-ops": ["error", {
            "words": true,
            "nonwords": false
        }],
        "spaced-comment": ["error", "always"],
        "wrap-regex": 0,
    }
}
